/*fonts*/
/*Monserrat*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: local('Montserrat-Bold'),
        url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}

/*Roboto*/
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: local('Roboto-Bold'),
    url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: local('Roboto-Medium'),
    url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto-Regular'),
    url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}

/*Noto-Sans*/
@font-face {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-style: normal;
    src: local('Notosans-bold'),
    url("../fonts/Noto Sans/Notosans-bold.woff2") format("woff2"),
    url("../fonts/Noto Sans/Notosans-bold.woff") format("woff");
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-style: normal;
    src: local('Notosans-medium'),
    url("../fonts/Noto Sans/Notosans-medium.woff2") format("woff2"),
    url("../fonts/Noto Sans/Notosans-medium.woff") format("woff");
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-style: normal;
    src: local('Notosans-regular'),
    url("../fonts/Noto Sans/Notosans-regular.woff2") format("woff2"),
    url("../fonts/Noto Sans/Notosans-regular.woff") format("woff");
}

/*Avenir*/
@font-face {
    font-family: 'Avenir';
    font-weight: 600;
    font-style: normal;
    src: local('Avenir-semibold'),
    url("../fonts/Avenir/Avenir-semibold.woff2") format("woff2"),
    url("../fonts/Avenir/Avenir-semibold.woff") format("woff");
}
@font-face {
    font-family: 'Avenir';
    font-weight: 500;
    font-style: normal;
    src: local('Avenir-medium'),
    url("../fonts/Avenir/Avenir-medium.woff2") format("woff2"),
    url("../fonts/Avenir/Avenir-medium.woff") format("woff");
}

/*allPageSettings*/
body,
html {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', 'Roboto', 'Avenir', 'Noto Sans', serif;
}
h1,
h2,
h3,
p,
span,
a {
    margin: 0;
    padding: 0;
    color: #fff;
}
.list-reset {
    list-style: none;
}
.btn-reset {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}
.bg-color {
    background: #000;
}
.container {
    margin: 0 auto;
    width: 1440px;
}
.section {
    padding: 0 100px;
}
.h2-title {
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    font-family: 'Montserrat', serif;
    margin-bottom: 23px;
}
.section-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Noto Sans', serif;
}

/*cookies-popup*/
.cookies-popup {
    background: #212834;
    position: fixed;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    z-index: 1000;
}
.popup__content {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 21px 18px 100px;
}
.popup__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Noto Sans', serif;
}
.popup__btn {
    padding: 15px 41px;
    background: rgba(255,255,255,0.1);
    border: 0.5px solid #fff;
    border-radius: 6px;
    width: 136px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Noto Sans', serif;

    transition: background-color .2s ease-in-out;
}
.popup__btn:hover {
    background-color: rgba(255,255,255,0.2);
}
.popup__btn:active {
    background-color: rgba(255,255,255,0.04);
}
.popup__disable {
    display: none;
}

/*header*/
.header {
    padding-bottom: 84px;
}
.header__upper-line {
    display: flex;
    width: 391px;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}
.logo-container {
    display: flex;
    align-items: center;
    width: 211px;
    height: 109px;

    position: relative;
}
.logo-icon {
    position: absolute;
    top: -4px;
    left: -14px;
}
.logo-text {
    position: absolute;
    top: 43px;
    left: 100px;
}
.user-container {
    display: flex;
    align-items: center;
}
.user-icon {
    margin-right: 12px;
}
.user-text {
    border-bottom: 1px solid #fff;
    font-family: 'Noto Sans', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
.header__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 266px;
}
.left-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 138px;
}
.header__h1-title {
    font-family: 'Montserrat', serif;

    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 88px;;
}
.header__desc-container {
    display: flex;
    align-items: flex-end;
}
.header__desc-bg {
    position: absolute;
    z-index: -1;
    top: -125px;
    right: -137px;
}
.header__desc-decor {
    margin-right: 31px;
    position: relative;
    left: 3px;
    top: 2px;
    right: auto;
}
.header__desc {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Noto Sans', serif;
    line-height: 27px;
}
.right-content {
    position: relative;
    width: 40%;

}
.right-content__bg {
    position: absolute;
    z-index: -1;
    top: -355px;
    right: -334px;
}
.header__app-example-absolute {
    position: absolute;
    top: 14px;
    left: 75px;
}
.header__app-example {
    position: relative;
}
.header__app-example-bg-blur {
    position: absolute;
    z-index: -1;
    top: -190px;
    right: -131px;
}
.header__sources {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 63px;
}
.header__sources-title {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', serif;
    line-height: 70px;
}
.header__sources-block {
    width: 32%;
    display: flex;
    justify-content: space-between;
}

/*about*/
.about {
    padding-top: 84px;
    padding-bottom: 158.5px;
}
.about__links-container {
    display: flex;
    justify-content: space-between;
    padding: 0 12.2%;
    margin-bottom: 236px;
}
.link-block {
    padding: 62px 120px 55px 55px;
    border: 1px solid rgba(255,255,255,50%);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.about__link-desc {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    font-family: 'Noto Sans', serif;
    margin-bottom: 35px;
}
.about__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    font-family: 'Noto Sans', serif;
}
.about__content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.about__app-example {
    position: relative;
    width: 60%;
    height: 500px;
    margin-right: 10%;
}
.app-example__absolute {
    position: absolute;
    top: 10px;
    left: -248px;
}
.app-example__container {
    position: relative;
}
.blur {
    position: absolute;
    width: 441px;
    height: 958px;
    left: 252px;
    top: -230px;

    z-index: -1;

    background: #FFFFFF;
    opacity: 0.2;
    filter: blur(90px);
    transform: rotate(90deg);
}
.about__text-block {
    position: relative;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.text-block__bg-effect {
    background: #F101BF;
    filter: blur(60px);
    width: 75px;
    height: 75px;
    border-radius: 45%;
    z-index: -1;
    position: absolute;
    top: 27px;
    left: 157px;
}
.about__title {
    width: 65%;
}
.about__desc {
    width: 62%;
}

/*id-scanner*/
.id-scanner {
    padding-top: 158.5px;
    padding-bottom: 181px;
}
.id-scanner__content {
    position: relative;
}
.id-scanner__bg-img {
    z-index: -1;
}
.id-scanner__text-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 65.5%;
}
.id-scanner__title {
    margin-bottom: 39px;
    line-height: 36px;
}
.id-scanner__desc {
    width: 57%;
}
.id-scanner__example-block {
    position: absolute;
    width: 715px;
    height: 667px;
    top: 442px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 85px;
}

/*bi-tool*/
.bi-tool {
    padding-top: 181px;
    padding-bottom: 108.5px;
}
.bi-tool__content {
    display: flex;
    justify-content: space-between;
    height: 522px;
}
.bi-tool__content-right {
     width: calc(100% - 50% - 25px);
 }
.bi-tool__title {
    margin-bottom: 35px;
}
.bi-tool__desc {
    width: 71%;
}
.bi-tool__content-left {
    width: calc(100% - 40% - 25px);
    position: relative;
}
.svg-diagramm-1 {
    position: absolute;
    top: 160px;
    left: -38px;
    z-index: 1;
}
.svg-diagramm-2 {
    position: absolute;
    top: -89px;
    left: 273px;
    z-index: 1;
}
.svg-diagramm-3 {
    position: absolute;
    top: 304px;
    left: 142px;
    z-index: 1;
}
.svg-diagramm-4 {
    position: absolute;
    top: 204px;
    left: 215px;
    z-index: 2;
}
.svg-diagramm-5 {
    position: absolute;
    top: 93px;
    left: 397px;
    z-index: 1;
}
.svg-diagramm-6 {
    position: absolute;
    top: 95px;
    left: 93px;
    z-index: 1;
}
.svg-diagramm-7 {
    position: absolute;
    top: 377px;
    left: 383px;
    z-index: 1;
}

